@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

/* .hero {
  background: url(./images/hero-bg.svg) top center no-repeat;
  background-size: cover;
} */

.hero {
  position: relative; /* Add relative positioning to .hero */
  background: url(./images/hero-bg.svg) top center no-repeat;
  background-size: cover;
  width: 100%;
  height: 107vh; /* Adjust as necessary */
}

.overlay-svg-container {
  position: absolute; /* Position the overlay container absolutely within .hero */
  bottom: 0; /* Adjust as necessary */
  left: 0;
  width: 100%;
  height: auto;
  z-index: 10; /* Ensure this is above the hero background */
}

.overlay-svg-container svg {
  width: 100%;
  height: auto;
}

.footer {
  background: url(./images/footer.svg) top center no-repeat;
  background-size: cover;
}

.cta {
  /* background: linear-gradient(rgba(2,2,2,.7),rgba(0,0,0,.7)),url(https://images.unsplash.com/photo-1497215728101-856f4ea42174?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) fixed center center; */
  background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://images.pexels.com/photos/263194/pexels-photo-263194.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2)
      fixed center center;
}
